* {
	margin: 0;
	padding: 0;
}

body {
	font-size: 62.5%;
	font-family: Helvetica, sans-serif;
	background: url(images/stripe.png) repeat;
}

p {
	font-size: 1.3em;
	margin-bottom: 15px;
}

#page-wrap {
	width: 660px;
	background: white;
	padding: 20px 50px 20px 50px;
	margin: 20px auto;
	min-height: 500px;
	height: auto !important;
	height: 500px;
}

#contact-area {
	width: 600px;
	margin-top: 25px;
}

#contact-area input, #contact-area textarea {
	padding: 5px;
	width: 471px;
	font-family: Helvetica, sans-serif;
	font-size: 1.4em;
	margin: 0px 0px 10px 0px;
	border: 2px solid #ccc;
}

#contact-area textarea {
	height: 90px;
}

#contact-area textarea:focus, #contact-area input:focus {
	border: 2px solid #900;
}

#contact-area input.submit-button {
	width: 100px;
	float: right;
}

label {
	float: left;
	text-align: right;
	margin-right: 15px;
	width: 100px;
	padding-top: 5px;
	font-size: 1.4em;
}

footer{
  background-color: black;
  color: white;
  padding: 30px;
  text-align: center;
}

@media screen and (prefers-reduced-motion: reduce) {max-width: 700px
html{
  scroll-behavior: smooth;
}

@media screen {max-width: 320px
   {
    font-size: 1.45rem
}



@import url("https://fonts.googleapis.com/css?family=Open+Sans&display=swap");
html {
  font-size: 100%;
  box-sizing: border-box;
}

body {
  margin: 0px;
  padding: 0px;
  min-height: 100vh;
  background-color: #fff;
  font-family: "Open Sans", Arial, Helvetica, sans-serif;
}
.bg {
  background-image: url('../images/sky.jpg');

  /* Full height */
  height: 100%;


  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}
*,
a {
  color: #fff;
}

#versacepic {width: 200px;
  height: auto;
}
#car {width: 300px;
  /* vertical-align: middle; */
  overflow: auto;
  height: auto;
}
#coding {width: 300px;
  overflow: auto;
  /* vertical-align: middle; */
  height: auto;
}
#clipper {width: 400px;
  height: auto;
}
#swish {width: 400px;
  height: auto;
}
#nq {width: 450px;
  height: auto;
}
#sfpic {width: 375px;
  height: auto;
}
#sfnight {width: 400px;
  height: auto;
}
#towerbridge {width: 375px;
  height: auto;

}
#sf2 {width: 375px;
  height: auto;
}
#ny {width: 375px;
  height: auto;
}
#macisland {width: 375px;
  height: auto;
}
#bigben {width: 375px;
  height: auto;
}
#yosemite {width: 375px;
  height: auto;
}
#bd {width: 375px;
  height: auto;
}
#kawhi {width: 400px;
  height: auto;
}
#msu {width: 450px;
  height: auto;
}
#uofm {width: 450px;
  height: auto;
}
#wood {width: 100vw;
  height: auto;
}
body, html {
  height: 100%;
}

.parallax {

  background-image: url("car_parallax.jpg");


  height: 100%;


  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

a {
  position: relative;
  text-decoration: none;
}
a::before {
  content: "";
  position: absolute;
  height: 3px;
  right: 0px;
  bottom: -3px;
  left: 0px;
  background-color: #d81dd8;
}
a:hover {
  color: #d81dd8;
}
a:hover::before {
  background: linear-gradient(to right, #d81dd8 40%, #6210fa 75%);
}

nav {
  margin-bottom: 4rem;
  padding: 10px;
  font-size: 1.5rem;
  background-color:red;
}
@media (min-width: 600px) {
  nav {
    padding: 25px;
  }
}
nav ul {
  list-style-type: none;
  margin: 0px;
  padding: 0px;
}
nav a {
  font-size: 1.25rem;
}
@media (min-width: 42em) {
  nav a {
    font-size: 2rem;
  }
}

nav.flexbox {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
@media (min-width: 600px) {
  nav.flexbox {
    justify-content: space-between;
  }
}
nav.flexbox > a {
  margin-bottom: 10px;
}
@media (min-width: 600px) {
  nav.flexbox > a {
    margin-bottom: 0px;
  }
}
nav.flexbox .fullwidth {
  flex: 0 0 100%;
  justify-content: center;
}
@media (min-width: 600px) {
  nav.flexbox .fullwidth {
    flex: 0 1 auto;
  }
}
nav.flexbox ul {
  display: flex;
  align-items: center;
}
nav.flexbox ul li {
  flex: 0 0 100px;
  margin-right: 10px;
  text-align: center;
}
@media (min-width: 600px) {
  nav.flexbox ul li {
    flex: 0 0 auto;
    margin-right: 20px;
  }
}
nav.flexbox ul li:last-child {
  margin-right: 0px;
}

nav.grid ul {
  display: grid;
  grid-template-columns: repeat(3, 100px);
  grid-gap: 10px;
  justify-content: center;
  justify-items: center;
}
@media (min-width: 600px) {
  nav.grid ul {
    grid-template-columns: 1fr repeat(3, fit-content(50px));
    grid-gap: 20px;
    justify-items: end;
  }
}
nav.grid .fullwidth {
  grid-column: 1 / 4;
}
@media (min-width: 600px) {
  nav.grid .fullwidth {
    grid-column: 1 / 2;
    justify-self: start;
  }
}


a.skip{
  background: white;
  left: 0;
  padding: 6px;
  position: absolute;
  top: -40px;
  -webkit-transition: top 1s ease-out;
  transition: top 1s ease-out;
  z-index: 1;
}

a.skip:focus{
  top:20px;
  color: blue;
  text-decoration-style: solid;
}
#currentpage {color: black;
  text-transform: uppercase;
}

.flip-card {
  background-color: transparent;
  width: 30px;
  height: 20px;
  border: 1px solid #f1f1f1;
  perspective: 1000px;
}


.flip-card-inner {
  position: relative;
  width: 30px;
  height: 20px;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}
.box{
  overflow: auto;
}
